# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
.venv/

# IDE
.idea/
.vscode/
*.swp
*~

# Configuracion local
.env

# Datos locales
data/

# Cache
.coverage
htmlcov/
.pytest_cache/
